<!-- side menu for mobile  -->
<div class="menu-overlay"></div>
<div class="menu-bar-holder">
	<div class="menu-bar">
		<div class="welcome-holder">
			<div class="welcome">
				<div class="profile-img">
					<img src="{{ 'profile.png' | asset_url }}">
				</div>
				<div class="welcome-text-holder">
					<div class="text-holder">
                      {% if customer.id != null %}
                      	Hi, {{ customer.name }}
                      {% else %}
                      	Welcome!
                      {% endif %}
					</div>
                  	{% if customer.id == null %}
					<div class="login-signup">
                      <a href="/account/login">Login</a> / <a href="/account/register">Signup</a>
					</div>
                  	{% endif %}
				</div>
			</div>
			<div class="cross-icon">
				<i class="fas fa-times"></i>
			</div>
		</div>
		<div class="accordian-list-holder">
			<div class="accordian-list">
				{%- for link in linklists.brave-mobile-menu.links -%}

				{% if link.levels == 0 %}
				<a class="accordian-1" href="{{ link.url }}" {% if link.active %}aria-current="page" {% endif %}>
					{{ link.title }}
				</a>
				{%else %}
				<button class="accordian-menu" href="{{ link.url }}" {% if link.active %}aria-current="page" {% endif
					%}>
					{{ link.title }}
				</button>
				{% endif %}
				{%- if link.links != blank -%}
				<div class="answer">
					<a href="{{ link.url }}">View All {{ link.title }}</a>
					{%- for child_link in link.links -%}
					<div class="accordian-list">
						<a class="" href="{{ child_link.url }}" {% if child_link.active %}aria-current="page" {% endif
							%}>
							{{ child_link.title }}
						</a>	
					</div>
					{%- endfor -%}
				</div>
				{%- endif -%}
				{%- endfor -%}
			</div>
		</div>
		<div class="social-icons-holder">
			<ul class="social-icons">
				{% if settings.social_instagram_link %}
				<li class="social-icon">
					<a href="{{ settings.social_instagram_link }}"><i class="fab fa-instagram"></i></a>
				</li>
				{% endif %}

				{% if settings.social_facebook_link %}
				<li class="social-icon">
					<a href="{{ settings.social_facebook_link }}"><i class="fab fa-facebook-f"></i></a>
				</li>
				{% endif %}	

				{% if settings.social_youtube_link %}
				<li class="social-icon">
					<a href="{{ settings.social_youtube_link }}"><i class="fab fa-youtube"></i></a>
				</li>
				{% endif %}

				{% if settings.social_twitter_link %}
				<li class="social-icon">
					<a href="{{ settings.social_twitter_link }}"><i class="fab fa-twitter"></i></a>
				</li>
				{% endif %}

				{% if settings.social_pinterest_link %}
				<li class="social-icon">
					<a href="{{ settings.social_pinterest_link }}"><i class="fab fa-pinterest"></i></a>
				</li>
				{% endif %}
				
			</ul>
		</div>
	</div>
</div>
</div>


<style>
	.brave-essentials .menu-bar-holder .menu-bar .accordian-list-holder .accordian-list .accordian-1 {
		font-family: Agency FB;
		font-weight: 400;
		font-size: 20px;
		letter-spacing: 1px;
		color: #4a3a2a;
		text-transform: uppercase;
		padding: 18px 15px 12px;
		border-bottom: 2px solid #cbc5b8;
		margin-bottom: 0;
		display: block;
}
</style>