<div class="everyday-section">
	<div class="container">
		<div class="branding-slider">
          	{% if section.settings.link1 and section.settings.link1 != "https://" %}
          		<a href="{{ section.settings.link1 }}">
          	{% endif %}
              <div class="branding">
                  <img class="desktop-only" src="{{ section.settings.desktop_banner | img_url: '1400x'}}">
                  <img class="mobile-only" src="{{ section.settings.mobile_banner | img_url: '800x' }}">
                  <div class="content-holder">
                      <h6 class="content-header">
                          {{ section.settings.heading }}
                      </h6>
                      <div class="content-details">
                          {{ section.settings.subtitle }}
                      </div>
                  </div>
              </div>
            {% if section.settings.link1 and section.settings.link1 != "https://" %}
          		</a>
          	{% endif %}
          	{% if section.settings.link2 and section.settings.link2 != "https://" %}
          		<a href="{{ section.settings.link2 }}">
          	{% endif %}
              <div class="branding">
                <img src="{{ section.settings.universal_banner | img_url: '1400x'}}">
              </div>
          	{% if section.settings.link2 and section.settings.link2 != "https://" %}
          		</a>
          	{% endif %}
		</div>
	</div>
</div>


{% schema %}

{
    "name": "Everyday",
    "class": "be-everyday",
    "tag": "section",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
        }, {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle"
		}, {
            "type": "text",
            "id": "link1",
            "default": "https://",
            "label": "Link for First Banner"
		}, {
            "type": "text",
            "id": "link2",
            "default": "https://",
            "label": "Link for Second Banner"
		}, {
            "type": "image_picker",
            "id": "desktop_banner",
            "label": "First Banner (Desktop)"
        }, {
            "type": "image_picker",
            "id": "mobile_banner",
            "label": "First Banner (Mobile)"
        }, {
            "type": "image_picker",
            "id": "universal_banner",
            "label": "Second Banner (Universal)"
        }
    ],
    "presets": [
        {
            "category": "BE",
            "name": "Everyday"
        }
    ]
}

{% endschema %}