<div class="find-solutions">
    <h3 class="section-heading">
        {{ section.settings.title }}
    </h3>
    <div class="container">
        <ul class="solutions-slider">
            {% for block in section.blocks %}
                {% assign item = block.settings %}
                {% case block.type %}
                    {% when 'fs_collection' %}
                        <li class="solutions-list">
                            <div class="solutions-list-holder">
                                <div class="solutions-image">
                                    <a href="{{ collections[item.fs_collection].url }}"><img src="{{ collections[item.fs_collection] | img_url: '350x' }}"></a>
                                </div>
                                <div class="solutions-heading">
                                    <a class="" href="{{ collections[item.fs_collection].url }}">{{ collections[item.fs_collection].title }}</a>
                                </div>
                            </div>
                        </li>
                {% endcase %}
            {% endfor %}
        </ul>
    </div>
</div>

{% schema %}

{
    "name": "Find Solutions",
    "class": "be-find-solutions",
    "tag": "section",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Section Heading"
        }
    ],
    "blocks": [
        {
            "name": "Collection",
            "type": "fs_collection",
            "settings": [
                {
                    "type": "collection",
                    "label": "Choose Collection",
                    "id": "fs_collection"
                }
            ]
        }
    ],
    "presets": [
        {
            "category": "BE",
            "name": "Find Solutions"
        }
    ]
}

{% endschema %}