<div class="find-solutions">
	<h3 class="section-heading">
	  Find Solutions for
	</h3>
	<div class="container">
	  <ul class="solutions-slider">
		<li class="solutions-list">
		  <div class="solutions-list-holder">
			<div class="solutions-image">
			  <img src="{{ 'beard.png' | asset_url }}">
			</div>
			<div class="solutions-heading">
			  Beard Growth
			</div>
		  </div>
		</li>
		<li class="solutions-list">
		  <div class="solutions-list-holder">
			<div class="solutions-image">
			  <img src="{{ 'pigmentation.png' | asset_url }}">
			</div>
			<div class="solutions-heading">
			  Pigmentation
			</div>
		  </div>
		</li>
		<li class="solutions-list">
		  <div class="solutions-list-holder">
			<div class="solutions-image">
			  <img src="{{ 'acne.png' | asset_url }}">
			</div>
			<div class="solutions-heading">
			  Acne
			</div>
		  </div>
		</li>
		<li class="solutions-list">
		  <div class="solutions-list-holder">
			<div class="solutions-image">
			  <img src="{{ 'beard.png' | asset_url }}">
			</div>
			<div class="solutions-heading">
			  Beard Growth
			</div>
		  </div>
		</li>
		<li class="solutions-list">
		  <div class="solutions-list-holder">
			<div class="solutions-image">
			  <img src="{{ 'pigmentation.png' | asset_url }}">
			</div>
			<div class="solutions-heading">
			  Pigmentation
			</div>
		  </div>
		</li>
		<li class="solutions-list">
		  <div class="solutions-list-holder">
			<div class="solutions-image">
			  <img src="{{ 'acne.png' | asset_url }}">
			</div>
			<div class="solutions-heading">
			  Acne
			</div>
		  </div>
		</li>
		<li class="solutions-list">
		  <div class="solutions-list-holder">
			<div class="solutions-image">
			  <img src="{{ 'beard.png' | asset_url }}">
			</div>
			<div class="solutions-heading">
			  Beard Growth
			</div>
		  </div>
		</li>
		<li class="solutions-list">
		  <div class="solutions-list-holder">
			<div class="solutions-image">
			  <img src="{{ 'pigmentation.png' | asset_url }}">
			</div>
			<div class="solutions-heading">
			  Pigmentation
			</div>
		  </div>
		</li>
		<li class="solutions-list">
		  <div class="solutions-list-holder">
			<div class="solutions-image">
			  <img src="{{ 'acne.png' | asset_url }}">
			</div>
			<div class="solutions-heading">
			  Acne
			</div>
		  </div>
		</li>
		<li class="solutions-list">
		  <div class="solutions-list-holder">
			<div class="solutions-image">
			  <img src="{{ 'beard.png' | asset_url }}">
			</div>
			<div class="solutions-heading">
			  Beard Growth
			</div>
		  </div>
		</li>
		<li class="solutions-list">
		  <div class="solutions-list-holder">
			<div class="solutions-image">
			  <img src="{{ 'pigmentation.png' | asset_url }}">
			</div>
			<div class="solutions-heading">
			  Pigmentation
			</div>
		  </div>
		</li>
		<li class="solutions-list">
		  <div class="solutions-list-holder">
			<div class="solutions-image">
			  <img src="{{ 'acne.png' | asset_url }}">
			</div>
			<div class="solutions-heading">
			  Acne
			</div>
		  </div>
		</li>
	  </ul>
	</div>
  </div>

  {% schema %}

  {
	  "name": "Find Solutions",
	  "class": "be-find-solutions",    
	  "tag": "section",
	  "settings": [],
	  "presets": [
		  {
			  "category": "BE",
			  "name": "Find Solutions"
		  }
	  ]
  }
  
  {% endschema %}