<div class="new-launches">
    <h3 class="section-heading new-launches-heading">
        {{ section.settings.title }}
    </h3>
    <div class="container">
        <ul class="new-launches-holder">
            {% for block in section.blocks %}
                {%- assign item = block.settings -%}
                {%- assign nl_product = all_products[item.product] -%}
                {%- assign nl_product_img = nl_product.featured_media.preview_image -%}
                <li class="products-list" data-id="{{ nl_product.selected_or_first_available_variant.id }}">
                    <div class="products-list-holder">
                        <div class="products-image">
                            <a href="{{ nl_product.url }}"><img src="{{ nl_product_img | img_url: '350x' }}"></a>
                        </div>
                        <div class="products-heading">
                            <a href="{{ nl_product.url }}">{{ nl_product.title }}</a>
                        </div>
                        <div class="products-details">
                            {{ nl_product.vendor }}
                        </div>
                        <div class="products-price">
                            <span class="currency">&#8377</span>
                            {{ nl_product.price | money_without_currency }}
                        </div>
                        <ul class="add-to-cart-btn">
                            <li class="cart-button">
                                <a id="add-to-cart-btn" href="#">Add to Cart</a>
                            </li>
                        </ul>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<script type="text/javascript">
	$(document).on("click", "#add-to-cart-btn", function () {
		const id = parseInt($(this).closest(".products-list").data("id"));
		const quantity = 1;
		jQuery.post('/cart/add.js', {
			items: [
				{
					id: id,
					quantity: quantity
				}
			]
		});
		setTimeout(function () { populateMiniCart(); cart_count(); }, 400);
	});
</script>

{% schema %}

{
    "name": "New Launches",
    "class": "be-new-launches",
    "tag": "section",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Section Heading"
        }
    ],
    "blocks": [
        {
            "name": "Product",
            "type": "product",
            "settings": [
                {
                    "type": "product",
                    "id": "product",
                    "label": "Product"
                }
            ]
        }
    ],
    "presets": [
        {
            "category": "BE",
            "name": "New Launches"
        }
    ]
}

{% endschema %}