<div class="new-launches">
	<h3 class="section-heading new-launches-heading">
	  New launches
	</h3>
	<div class="container">
	  <ul class="new-launches-holder">
		<li class="products-list">
		  <div class="products-list-holder">
			<div class="products-image">
			  <img src="{{ 'new-launch.png' | asset_url }}">
			</div>
			<div class="products-heading">
			  Beard Oil
			</div>
			<div class="products-details">
			  Nourishes & Softens Beard copy
			</div>
			<div class="products-price">
			  <span class="currency">&#8377</span>375
			</div>
			<ul class="add-to-cart-btn">
			  <li class="cart-button">
				<a href="#">Add to Cart</a>
			  </li>
			</ul>
		  </div>
		</li>
		<li class="products-list">
		  <div class="products-list-holder">
			<div class="products-image">
			  <img src="{{ 'new-launch.png' | asset_url }}">
			</div>
			<div class="products-heading">
			  Beard Oil
			</div>
			<div class="products-details">
			  Nourishes & Softens Beard copy
			</div>
			<div class="products-price">
			  <span class="currency">&#8377</span>375
			</div>
			<ul class="add-to-cart-btn">
			  <li class="cart-button">
				<a href="#">Add to Cart</a>
			  </li>
			</ul>
		  </div>
		</li>
		<li class="products-list">
		  <div class="products-list-holder">
			<div class="products-image">
			  <img src="{{ 'new-launch.png' | asset_url }}">
			</div>
			<div class="products-heading">
			  Beard Oil
			</div>
			<div class="products-details">
			  Nourishes & Softens Beard copy
			</div>
			<div class="products-price">
			  <span class="currency">&#8377</span>375
			</div>
			<ul class="add-to-cart-btn">
			  <li class="cart-button">
				<a href="#">Add to Cart</a>
			  </li>
			</ul>
		  </div>
		</li>
		<li class="products-list">
		  <div class="products-list-holder">
			<div class="products-image">
			  <img src="{{ 'new-launch.png' | asset_url }}">
			</div>
			<div class="products-heading">
			  Beard Oil
			</div>
			<div class="products-details">
			  Nourishes & Softens Beard copy
			</div>
			<div class="products-price">
			  <span class="currency">&#8377</span>375
			</div>
			<ul class="add-to-cart-btn">
			  <li class="cart-button">
				<a href="#">Add to Cart</a>
			  </li>
			</ul>
		  </div>
		</li>
		<li class="products-list">
		  <div class="products-list-holder">
			<div class="products-image">
			  <img src="{{ 'new-launch.png' | asset_url }}">
			</div>
			<div class="products-heading">
			  Beard Oil
			</div>
			<div class="products-details">
			  Nourishes & Softens Beard copy
			</div>
			<div class="products-price">
			  <span class="currency">&#8377</span>375
			</div>
			<ul class="add-to-cart-btn">
			  <li class="cart-button">
				<a href="#">Add to Cart</a>
			  </li>
			</ul>
		  </div>
		</li>
		<li class="products-list">
		  <div class="products-list-holder">
			<div class="products-image">
			  <img src="{{ 'new-launch.png' | asset_url }}">
			</div>
			<div class="products-heading">
			  Beard Oil
			</div>
			<div class="products-details">
			  Nourishes & Softens Beard copy
			</div>
			<div class="products-price">
			  <span class="currency">&#8377</span>375
			</div>
			<ul class="add-to-cart-btn">
			  <li class="cart-button">
				<a href="#">Add to Cart</a>
			  </li>
			</ul>
		  </div>
		</li>
		<li class="products-list">
		  <div class="products-list-holder">
			<div class="products-image">
			  <img src="{{ 'new-launch.png' | asset_url }}">
			</div>
			<div class="products-heading">
			  Beard Oil
			</div>
			<div class="products-details">
			  Nourishes & Softens Beard copy
			</div>
			<div class="products-price">
			  <span class="currency">&#8377</span>375
			</div>
			<ul class="add-to-cart-btn">
			  <li class="cart-button">
				<a href="#">Add to Cart</a>
			  </li>
			</ul>
		  </div>
		</li>
		<li class="products-list">
		  <div class="products-list-holder">
			<div class="products-image">
			  <img src="{{ 'new-launch.png' | asset_url }}">
			</div>
			<div class="products-heading">
			  Beard Oil
			</div>
			<div class="products-details">
			  Nourishes & Softens Beard copy
			</div>
			<div class="products-price">
			  <span class="currency">&#8377</span>375
			</div>
			<ul class="add-to-cart-btn">
			  <li class="cart-button">
				<a href="#">Add to Cart</a>
			  </li>
			</ul>
		  </div>
		</li>
		<li class="products-list">
		  <div class="products-list-holder">
			<div class="products-image">
			  <img src="{{ 'new-launch.png' | asset_url }}">
			</div>
			<div class="products-heading">
			  Beard Oil
			</div>
			<div class="products-details">
			  Nourishes & Softens Beard copy
			</div>
			<div class="products-price">
			  <span class="currency">&#8377</span>375
			</div>
			<ul class="add-to-cart-btn">
			  <li class="cart-button">
				<a href="#">Add to Cart</a>
			  </li>
			</ul>
		  </div>
		</li>
	  </ul>
	</div>
  </div>

{% schema %}

{
	"name": "New Launches",
	"class": "be-new-launches",    
	"tag": "section",
	"settings": [],
	"presets": [
		{
			"category": "BE",
			"name": "New Launches"
		}
	]
}

{% endschema %}