<div class="product-page-details-holder">
	<div class="container">
	  <div class="product-page-details">
		<div class="products-image-rating desktop-only">
		  <ul class="products-image-holder">
			<li class="products-image">
			  <div class="image-holder">
				<img class="product" src="{{ 'product-detail.png' | asset_url }}">
			  </div>
			</li>
			<li class="products-image">
			  <div class="image-holder">
				<img class="product" src="{{ 'product-detail.png' | asset_url }}">
			  </div>
			</li>
			<li class="products-image">
			  <div class="image-holder">
				<img class="product" src="{{ 'product-detail.png' | asset_url }}">
			  </div>
			</li>
		  </ul>
		</div>
		<div class="product-content-details">
		  <h3 class="product-name">
			2+1 Shampoo Conditioner
		  </h3>
		  <div class="product-details">
			Controls Dandruff, Hair Fall & Frizz
		  </div>
		  <div class="products-image-rating mobile-only">
			<ul class="products-image-holder">
			  <li class="products-image">
				<div class="image-holder">
					<img class="product" src="{{ 'product-detail.png' | asset_url }}">
				</div>
			  </li>
			  <li class="products-image">
				<div class="image-holder">
					<img class="product" src="{{ 'product-detail.png' | asset_url }}">
				</div>
			  </li>
			  <li class="products-image">
				<div class="image-holder">
					<img class="product" src="{{ 'product-detail.png' | asset_url }}">
				</div>
			  </li>
			</ul>
		  </div>
		  <div class="products-size">
			<h6 class="size-heading">Size</h6>
			<div id="sizes">
			  <a class="size-quantity active">200 ml</a>
			  <a class="size-quantity">400 ml</a>
			  <div class="rating-holder mobile-only">
				<div class="rating-number">
				  4
				</div>
				<div class="rating-stars-product rating" data-default-value="4">
				  <span><span data-value="1" class="fa fa-star checked"></span></span>
				  <span><span data-value="2" class="fa fa-star checked"></span></span>
				  <span><span data-value="3" class="fa fa-star checked"></span></span>
				  <span><span data-value="4" class="fa fa-star"></span></span>
				  <span><span data-value="5" class="fa fa-star"></span></span>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="product-price-holder">
			<div class="product-price">
			  <span class="currency">&#8377</span> 375
			</div>
			<div class="strike"><span class="currency">&#8377</span> <span class="strike-through">499</span></div>
			<div class="rating-holder desktop-only">
			  <div class="rating-number">
				4
			  </div>
			  <div class="rating-stars rating" data-default-value="4">
				<span><span data-value="1" class="fa fa-star checked"></span></span>
				<span><span data-value="2" class="fa fa-star checked"></span></span>
				<span><span data-value="3" class="fa fa-star checked"></span></span>
				<span><span data-value="4" class="fa fa-star"></span></span>
				<span><span data-value="5" class="fa fa-star"></span></span>
			  </div>
			</div>
			<div class="product-quantity mobile-only">
			  <span class="minus"><a>-</a></span>
			  <span class="quantity">1</span>
			  <span class="plus"><a>+</a></span>
			</div>
		  </div>
		  <div class="product-quantity-holder">
			<div class="product-quantity desktop-only">
			  <span class="minus"><a>-</a></span>
			  <span class="quantity">1</span>
			  <span class="plus"><a>+</a></span>
			</div>
			<ul class="add-to-cart-btn">
			  <li class="cart-button">
				<a href="#">Add to Cart</a>
			  </li>
			</ul>
		  </div>
		  <div class="type-holder desktop-only">
			<div class="type-content-holder">
			  <div class="type-heading">
				Best Suited for
			  </div>
			  <div class="type-content">
				Dry Scalp Type
			  </div>
			</div>
			<div class="type-content-holder">
			  <div class="type-heading">
				NOT Advised For
			  </div>
			  <div class="type-content">
				OIly Scalp Type
			  </div>
			</div>
		  </div>
		  <div class="product-text">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
			dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
			lacus vel facilisis.<br>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
			dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
			lacus vel facilisis.
		  </div>
		  <div class="product-text">
			<span class="bullet"></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
			incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
			viverra maecenas accumsan lacus vel facilisis.
		  </div>
		  <div class="product-text">
			<span class="bullet"></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
			incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
			viverra maecenas accumsan lacus vel facilisis.
		  </div>
		  <div class="product-text">
			<span class="bullet"></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
			incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
			viverra maecenas accumsan lacus vel facilisis.
		  </div>
		  <div class="check-holder mobile-only">
			<input class="check" type="text" placeholder="Check for Availability">
			<ul class="check-btn">
			  <li class="check-btn-list">
				<a href="#">Check</a>
			  </li>
			</ul>
		  </div>
		  <div class="type-holder mobile-only">
			<div class="type-content-holder">
			  <div class="type-heading">
				Best Suited for
			  </div>
			  <div class="type-content">
				Dry Scalp Type
			  </div>
			</div>
			<div class="type-content-holder">
			  <div class="type-heading">
				NOT Advised For
			  </div>
			  <div class="type-content">
				OIly Scalp Type
			  </div>
			</div>
		  </div>
		  <div class="certificates-holder desktop-only">
			<ul class="certificates">
			  <li class="certificates-list">
				<div class="logo">
				  <img src="{{ 'animal-testing-1.png' | asset_url }}">
				</div>
				<h6 class="certificate-heading">No Animal Testing</h6>
			  </li>
			  <li class="certificates-list">
				<div class="logo">
				  <img src="{{ 'derma.png' | asset_url }}">
				</div>
				<h6 class="certificate-heading">Derma Tested</h6>
			  </li>
			  <li class="certificates-list">
				<div class="logo">
				  <img src="{{ 'ayush.png' | asset_url }}">
				</div>
				<h6 class="certificate-heading">Certified Ayurveda</h6>
			  </li>
			  <li class="certificates-list">
				<div class="logo">
				  <img src="{{ 'paraben-product.png' | asset_url }}">
				</div>
				<h6 class="certificate-heading">Paraben Free</h6>
			  </li>
			  <li class="certificates-list">
				<div class="logo">
				  <img src="{{ 'paraben.png' | asset_url }}">
				</div>
				<h6 class="certificate-heading">Paraben Free</h6>
			  </li>
			  <li class="certificates-list">
				<div class="logo">
				  <img src="{{ 'sulphate.png' | asset_url }}">
				</div>
				<h6 class="certificate-heading">Sulphate Free</h6>
			  </li>
			  <li class="certificates-list">
				<div class="logo">
				  <img src="{{ 'mineral-oil.png' | asset_url }}">
				</div>
				<h6 class="certificate-heading">Mineral Oil Free</h6>
			  </li>
			</ul>
		  </div>
		  <div class="certificates-slider mobile-only">
			<ul class="certificates-slider-holder">
			  <li class="certificates-list">
				<div class="certificate-image">
				  <img src="{{ 'derma-white.png' | asset_url }}">
				</div>
				<div class="certificate-heading">Derma Tested</div>
			  </li>
			  <li class="certificates-list">
				<div class="certificate-image">
				  <img src="{{ 'animal-white.png' | asset_url }}">
				</div>
				<div class="certificate-heading">No Animal Testing</div>
			  </li>
			  <li class="certificates-list">
				<div class="certificate-image">
				  <img src="{{ 'paraben-white.png' | asset_url }}">
				</div>
				<div class="certificate-heading">Paraben Testing</div>
			  </li>
			  <li class="certificates-list">
				<div class="certificate-image">
				  <img src="{{ 'ayurveda-white.png' | asset_url }}">
				</div>
				<div class="certificate-heading">Certified Ayurveda</div>
			  </li>
			  <li class="certificates-list">
				<div class="certificate-image">
				  <img src="{{ 'animal-white.png' | asset_url }}">
				</div>
				<div class="certificate-heading">No Animal Testing</div>
			  </li>
			  <li class="certificates-list">
				<div class="certificate-image">
				  <img src="{{ 'paraben-white.png' | asset_url }}">
				</div>
				<div class="certificate-heading">Paraben Testing</div>
			  </li>
			</ul>
		  </div>
		  <div class="check-holder desktop-only">
			<input class="check" type="text" placeholder="Check for Availability">
			<ul class="check-btn">
			  <li class="check-btn-list">
				<a href="#">Check</a>
			  </li>
			</ul>
		  </div>
		  <div class="offers">
			<h6 class="offer-heading">Offers</h6>
			<div class="offer-content-holder">
			  <div class="offer-content">
				<span class="offer-icon"><img src="{{ 'offer.png' | asset_url }}"></span>Lorem ipsum dolor sit amet,
				consectetur adipiscing elit, sed do.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>


{% schema %}

  {
	  "name": "Product Main",
	  "class": "be-product-main",    
	  "tag": "section",
	  "settings": []
  }
  
  {% endschema %}