{% assign product_price = product.selected_or_first_available_variant %}
<div class="product-page-details-holder">
	<div class="container">
	  <div class="product-page-details">
		<div class="products-image-rating desktop-only">
		  <ul class="products-image-holder">
			{%- for media in product.media -%}
			{% case media.media_type %}
				{% when 'image' %}
				<li class="products-image">
					<div class="image-holder">
					  <img class="product" src="{{ media | img_url: '1400x1400' }}" alt="{{ media.preview_image.alt }}">
					</div>
				  </li>
				{% when 'external_video'%}
				<li class="products-image">
					<div class="iframe-container">
						{{ media | external_video_tag: image_size: '450x', controls: true, class: 'responsive-iframe' }}
					</div>
				</li>
				{% when 'video' %}
				<li class="products-image">	
					<div class="image-holder">
						{{ media | video_tag: image_size: '450x', controls: true }}	
					</div>									
				</li>					
				{% when 'model' %}
				<li class="products-image">
					<div class="image-holder">
						{{ media | model_viewer_tag }}
					</div>
				</li>					
				{% else %}
					{{ media | media_tag }}
			{% endcase %}
			{%- endfor -%}
		  </ul>
		</div>
		{% form 'product', product, id: 'product-form', novalidate: 'novalidate' %}
		<input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
		<div class="product-content-details">
		  <h3 class="product-name">
			{{ product.title }}
		  </h3>
		  <div class="product-details">
			{{ product.vendor }}
		  </div>
		  <div class="products-image-rating mobile-only">
			<ul class="products-image-holder">
              {%- for image in product.images -%}
              <li class="products-image">
                <div class="image-holder">
                  <img class="product" src="{{ image.src | img_url: '800x800' }}" alt="{{ image.alt | escape }}">
                </div>
              </li>
              {%- endfor -%}
			</ul>
		  </div>
		  <div class="products-size" style="{% if product.has_only_default_variant %}display:none;{% endif %}">			
			<div id="sizes">
				<variant-radios data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
					{%- for option in product.options_with_values -%}
                  		{% if option.name != "Title" %}
							<h6 class="size-heading">{{ option.name }}</h6>
                  		{% endif %}
						<div id="sizes">
							{%- for value in option.values -%}
                          	{% if value != "Default Title" %}
								<input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
									name="{{ option.name }}"
									value="{{ value | escape }}"
									form="{{ product_form_id }}"
									{% if option.selected_value == value %}checked{% endif %}
								>
								<label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
								{{ value }}
								</label>
                          	{% endif %}
							{%- endfor -%}
						</div>
					{%- endfor -%}
					<script id="be-variant-data" type="application/json">
					  {{ product.variants | json}}
					</script>
				  </variant-radios>
            {%- for block in section.blocks -%}
            {%- case block.type -%}
            {%- when 'rating_value' -%}
			{% comment %}
            {% assign review_rating = shop.metafields.judgeme.all_reviews_rating | round: 1 %}
			{% endcomment %}
			{%- assign product_rating_value = product.metafields.reviews.rating | split: ':"' | last | split: '"}' -%}
			{% if product_rating_value != blank %}
			  <div class="rating-holder mobile-only">
				<div class="rating-number">
					{{ product_rating_value }}
				</div>
				<div class="rating-stars-product rating" data-default-value="{{ product_rating_value }}">
				  <span><span data-value="1" class="fa fa-star checked"></span></span>
				  <span><span data-value="2" class="fa fa-star checked"></span></span>
				  <span><span data-value="3" class="fa fa-star checked"></span></span>
				  <span><span data-value="4" class="fa fa-star"></span></span>
				  <span><span data-value="5" class="fa fa-star"></span></span>
				</div>
			  </div>
			  {% endif %}
            {% endcase %}
            {%- endfor -%}
			</div>
		  </div>
		  <div class="product-price-holder">
			<div class="product-price">
              <span class="currency">{{ shop.currency | replace: "INR", "&#8377" }}</span> <span class="product-price-value">{{ product_price.price  | money_without_currency | remove: '.00' }}</span>
			</div>
			<div class="strike compare-at-price">
				{% if product_price.compare_at_price != blank %}
					<span class="currency">{{ shop.currency | replace: "INR", "&#8377" }}</span> 
					<span class="strike-through compare-at-price-value">{{ product_price.compare_at_price  | money_without_currency | remove: '.00' }}</span>
				{% endif %}				
			</div>
            {%- for block in section.blocks -%}
            {%- case block.type -%}
            {%- when 'rating_value' -%}
			{% comment %}
            {% assign review_rating = shop.metafields.judgeme.all_reviews_rating | round: 1 %}
			{% endcomment %}
			{%- assign product_rating_value = product.metafields.reviews.rating | split: ':"' | last | split: '"}' -%}

			{% if product_rating_value != blank %}
            	<div class="rating-holder desktop-only">
                  <div class="rating-number">
                    {{ product_rating_value }}
                  </div>
                  <div class="rating-stars rating" data-default-value="{{ product_rating_value }}">
                    <span><span data-value="1" class="fa fa-star"></span></span>
                    <span><span data-value="2" class="fa fa-star"></span></span>
                    <span><span data-value="3" class="fa fa-star"></span></span>
                    <span><span data-value="4" class="fa fa-star"></span></span>
                    <span><span data-value="5" class="fa fa-star"></span></span>			
                  </div>
            	</div>
			  {% else %}
			  <div class="empty-reviews-flex-div"></div>		
			{% endif %}
			

            {% endcase %}
            {%- endfor -%}
            <div class="mobile-only" style="flex: 1;"></div><!-- empty div for flex -->
            <div class="product-quantity mobile-only">
			  <span class="minus"><a>-</a></span>
			  <!-- <span class="quantity">1</span> -->
			  <input  class="quantity" name="quantity" id="Quantity" min="1" value="1">
			  <span class="plus"><a>+</a></span>
			</div>
			<!-- <div class="product-quantity mobile-only">
                <span class="minus"><a>-</a></span>
               	<input type="number" name="quantity" id="Quantity" min="1" value="1">
                <span class="plus"><a>+</a></span>
            </div> -->
		  </div>
		  <div class="product-quantity-holder">
			<div class="product-quantity desktop-only">
			  <span class="minus"><a>-</a></span>
			  <!-- <span class="quantity">1</span> -->
			  <input  class="quantity" name="quantity" id="Quantity" min="1" value="1">
			  <span class="plus"><a>+</a></span>
			</div>
			<ul class="add-to-cart-btn">
			  <li class="cart-button">
				<button type="button" name="add" id="AddToCart">Add to cart</button>
			  </li>
			</ul>
		  </div>
          <div class="check-holder mobile-only">
			<input class="check" type="text" placeholder="Check for Availability">
			<ul class="check-btn">
			  <li class="check-btn-list">
				<a href="#">Check</a>
			  </li>
			</ul>
		  </div>
          {% if product.metafields.suited.best_suited and product.metafields.suited.not_advised %}
		  <div class="type-holder">
			<div class="type-content-holder">
			  <div class="type-heading">
				Best Suited for
			  </div>
			  <div class="type-content">
				{{ product.metafields.suited.best_suited }}
			  </div>
			</div>
			<div class="type-content-holder">
			  <div class="type-heading">
				NOT Advised For
			  </div>
			  <div class="type-content">
				{{ product.metafields.suited.not_advised }}
			  </div>
			</div>
		  </div>
          {% endif %}
          {% if product.description %}
		  <div class="product-text">
			{{ product.description | escape_html }}
		  </div>
          {% endif %}
		  <div class="certificates-holder desktop-only">
			<ul class="certificates">
			  <li class="certificates-list">
				<div class="logo">
				  <img src="{{ 'animal-testing-1.png' | asset_url }}">
				</div>
				<h6 class="certificate-heading">No Animal Testing</h6>
			  </li>
			  <li class="certificates-list">
				<div class="logo">
				  <img src="{{ 'derma.png' | asset_url }}">
				</div>
				<h6 class="certificate-heading">Derma Tested</h6>
			  </li>
			  <li class="certificates-list">
				<div class="logo">
				  <img src="{{ 'ayush.png' | asset_url }}">
				</div>
				<h6 class="certificate-heading">Certified Ayurveda</h6>
			  </li>
			  <li class="certificates-list">
				<div class="logo">
				  <img src="{{ 'paraben-product.png' | asset_url }}">
				</div>
				<h6 class="certificate-heading">Paraben Free</h6>
			  </li>
			  <li class="certificates-list">
				<div class="logo">
				  <img src="{{ 'paraben.png' | asset_url }}">
				</div>
				<h6 class="certificate-heading">Paraben Free</h6>
			  </li>
			  <li class="certificates-list">
				<div class="logo">
				  <img src="{{ 'sulphate.png' | asset_url }}">
				</div>
				<h6 class="certificate-heading">Sulphate Free</h6>
			  </li>
			  <li class="certificates-list">
				<div class="logo">
				  <img src="{{ 'mineral-oil.png' | asset_url }}">
				</div>
				<h6 class="certificate-heading">Mineral Oil Free</h6>
			  </li>
			</ul>
		  </div>
		  <div class="certificates-slider mobile-only">
			<ul class="certificates-slider-holder">
			  <li class="certificates-list">
				<div class="certificate-image">
				  <img src="{{ 'derma-white.png' | asset_url }}">
				</div>
				<div class="certificate-heading">Derma Tested</div>
			  </li>
			  <li class="certificates-list">
				<div class="certificate-image">
				  <img src="{{ 'animal-white.png' | asset_url }}">
				</div>
				<div class="certificate-heading">No Animal Testing</div>
			  </li>
			  <li class="certificates-list">
				<div class="certificate-image">
				  <img src="{{ 'paraben-white.png' | asset_url }}">
				</div>
				<div class="certificate-heading">Paraben Testing</div>
			  </li>
			  <li class="certificates-list">
				<div class="certificate-image">
				  <img src="{{ 'ayurveda-white.png' | asset_url }}">
				</div>
				<div class="certificate-heading">Certified Ayurveda</div>
			  </li>
			  <li class="certificates-list">
				<div class="certificate-image">
				  <img src="{{ 'animal-white.png' | asset_url }}">
				</div>
				<div class="certificate-heading">No Animal Testing</div>
			  </li>
			  <li class="certificates-list">
				<div class="certificate-image">
				  <img src="{{ 'paraben-white.png' | asset_url }}">
				</div>
				<div class="certificate-heading">Paraben Testing</div>
			  </li>
			</ul>
		  </div>
		  <div class="check-holder desktop-only">
			<input class="check" type="text" placeholder="Check for Availability">
			<ul class="check-btn">
			  <li class="check-btn-list">
				<a href="#">Check</a>
			  </li>
			</ul>
		  </div>
          {% if product.metafields.offers.val %}
		  <div class="offers">
			<h6 class="offer-heading">Offers</h6>
			<div class="offer-content-holder">
			  <div class="offer-content">
				<span class="offer-icon"><img src="{{ 'offer.png' | asset_url }}"></span>
					{{ product.metafields.offers.val }}
			  </div>
			</div>
		  </div>
          {% endif %}
		</div>
		{% endform %}
	  </div>
	</div>
  </div>
<script>

var addToCart = document.getElementById('AddToCart');

if (addToCart != null) {
	addToCart.addEventListener('click', AddToCart);
}

function AddToCart() {
// 	console.log('button click test');

	let addToCartForm = document.getElementById('product-form');
	let formData = new FormData(addToCartForm);

	fetch('/cart/add.js', {
		method: 'POST',
		body: formData,
	})
		.then((response) => {
			return response.json();
		})
		.then((data) => {
// 			console.log(data);
			populateMiniCart();
			cart_count();
		})
		.catch((error) => {
			// console.error('Error:', error);
		});
}

class RadioChange extends HTMLElement {
		constructor() {
            super();
            this.addEventListener("change", this.onRadioChange);
        }
		onRadioChange() {
// 			console.log("changed!");
			this.getSelectedOptions();
			this.getSelectedVariant();
			if(this.currentVariant) {
              	this.updatePrices();
				this.updateURL();
                this.updateFormID();                
            }
		}

		getSelectedOptions() {
            this.options = Array.from(this.querySelectorAll('input[type="radio"]'), (radio) => radio.value);
            // console.log(this.options);
        }

		getVariantJSON() {
            this.variantData = this.variantData || JSON.parse(this.querySelector('[id="be-variant-data"]').textContent);
            return this.variantData;
        }

		getSelectedVariant() {
          	const selectedValue = this.querySelector('input[type="radio"]:checked').value;
          	const getVariantJSON = this.getVariantJSON();
            for (var i = 0; i < getVariantJSON.length; i++){
              if (getVariantJSON[i]['title'] == selectedValue){
                	this.currentVariant = getVariantJSON[i];
//                 	console.log(this.currentVariant);
              }
            }
        }
  
        updatePrices() {
			if(!this.currentVariant) return;
            if ((this.currentVariant.price != undefined) && (this.currentVariant.price != null) && (this.currentVariant.price != "")) {
				document.querySelector("#product-form > div > div.product-price-holder > div.product-price > span.product-price-value").innerHTML = this.currentVariant.price.toString().slice(0, -2);
            }
          
          	const compareAtPriceDiv = document.querySelector("#product-form > div > div.product-price-holder > div.strike.compare-at-price > span.strike-through.compare-at-price-value");
          	if ((this.currentVariant.compare_at_price != undefined) && (this.currentVariant.compare_at_price != null) && (this.currentVariant.compare_at_price != "")) {
              	if (compareAtPriceDiv) {
            		compareAtPriceDiv.innerHTML = this.currentVariant.compare_at_price.toString().slice(0, -2);
                } else if (!compareAtPriceDiv) {
                  	const compareAtPriceHtml = '<span class="currency">{{ shop.currency | replace: "INR", "&#8377" }}</span> <span class="strike-through compare-at-price-value">'+this.currentVariant.compare_at_price.toString().slice(0, -2)+'</span>';
                	$("#product-form > div > div.product-price-holder > div.strike.compare-at-price").html(compareAtPriceHtml);
                }
            } else if (compareAtPriceDiv) {
            	$("#product-form > div > div.product-price-holder > div.strike.compare-at-price").html(' ');
            }
        }

		updateURL() {
            if(!this.currentVariant) return;
            window.history.replaceState({}, '', `${this.dataset.url}?variant=${this.currentVariant.id}`);
        }

		updateFormID() {
            const form_input = document.querySelector("#product-form").querySelector('input[name="id"]');
            form_input.value = this.currentVariant.id;
        }
}

customElements.define("variant-radios", RadioChange);
</script>

<style>
	.iframe-container {
		position: relative;
		overflow: hidden;
		width: 100%;
		padding-top: 56.25%;		
	}	
	.responsive-iframe {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
	}
	.products-image-holder .video,
	.products-image-holder .external-video {
		width: 100%;
	}

	.products-image-holder .video video {
		width: 100%;
		height: auto;
	}
</style>

{% schema %}

{
    "name": "Product Main",
    "class": "be-product-main",
    "tag": "section",
    "settings": [],
    "blocks": [
        {
            "name": "Rating Value",
            "type": "rating_value",
            "limit": 1
        }, {
            "type": "@app"
        }
    ]
}

{% endschema %}