<div class="how-to-use">
	<div class="container">
	  <div class="how-to-use-holder">
		<h3 class="accordion sub-heading">
		  How to use
		</h3>
		<div class="steps-hide-holder">
		  <ul class="steps-holder">
			<li class="steps-list-holder">
			  <div class="steps-list">
				<div class="step-image">
				  <img class="desktop-only" src="{{ 'step-1.png' | asset_url }}">
				  <img class="mobile-only" src="{{ 'step-1-mobile.png' | asset_url }}">
				</div>
				<div class="step-heading">
				  Step 1
				</div>
				<div class="step-details">
				  Wet the hair and apply a<br class="mobile-only"> small<br class="desktop-only"> amount of shampoo on
				  the scalp.
				</div>
			  </div>
			</li>
			<span class="seperator desktop-only">></span>
			<li class="steps-list-holder">
			  <div class="steps-list">
				<div class="step-image">
				  <img class="desktop-only" src="{{ 'step-2.png' | asset_url }}">
				  <img class="mobile-only" src="{{ 'step-2-mobile.png' | asset_url }}">
				</div>
				<div class="step-heading">
				  Step 2
				</div>
				<div class="step-details">
				  Massage well along the inner and outer<br class="desktop-only"> hair strands and leave it for 2-3
				  minutes!
				</div>
			  </div>
			</li>
			<span class="seperator desktop-only">></span>
			<li class="steps-list-holder">
			  <div class="steps-list">
				<div class="step-image">
				  <img class="desktop-only" src="{{ 'step-3.png' | asset_url }}">
				  <img class="mobile-only" src="{{ 'step-3-mobile.png' | asset_url }}">
				</div>
				<div class="step-heading">
				  Step 3
				</div>
				<div class="step-details">
				  Rinse it thoroughly.
				</div>
			  </div>
			</li>
		  </ul>
		</div>
	  </div>
	</div>
  </div>
  <!-- how to use section ends here -->
  <div class="what-we-put-in">
	<div class="container">
	  <div class="puts-in-section-holder">
		<h3 class="accordion sub-heading">
		  wHAT wE PUT IN
		</h3>
		<div class="answer put-in-holder">
		  <ul class="put-in-unorder">
			<li class="put-in-list-holder">
			  <div class="put-in-list">
				<div class="put-in-image">
				  <img src="{{ 'bhringraj.png' | asset_url }}">
				</div>
				<div class="put-in-heading">
				  BHringraj
				</div>
				<div class="put-in-details">
				  Balances & heals the body<br class="desktop-only"> through nutrition, bhringraj is<br
					class="desktop-only"> said to promote hair growth,<br class="desktop-only">strengthening hair &
				  prevents<br class="desktop-only"> graying and dandruff.
				</div>
			  </div>
			</li>
			<li class="put-in-list-holder">
			  <div class="put-in-list">
				<div class="put-in-image">
				  <img src="{{ 'tea-tree.png' | asset_url }}">
				</div>
				<div class="put-in-heading">
				  TEa Tree
				</div>
				<div class="put-in-details">
				  Helps prevent buildup of<br> chemicals & dead skin.
				</div>
			  </div>
			</li>
			<li class="put-in-list-holder">
			  <div class="put-in-list">
				<div class="put-in-image">
				  <img src="{{ 'argan.png' | asset_url }}">
				</div>
				<div class="put-in-heading">
				  Argan
				</div>
				<div class="put-in-details">
				  Moisturizes your hair & scalp &<br> protects your hair from every-<br>day damage.
				</div>
			  </div>
			</li>
		  </ul>
		</div>
	  </div>
	</div>
  </div>
  <!-- what we put in section ends here -->
  <div class="safe-with-brave">
	<div class="container">
	  <div class="accordian-list desktop-only">
		<h3 class="accordion sub-heading">Safe with Brave
		</h3>
		<div class="answer">
		  <p><span class="bullet"></span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
			ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div>
	  </div>
	  <div class="accordian-list">
		<h3 class="accordion sub-heading">Faqs
		</h3>
		<div class="answer">
		  <p><span class="bullet"></span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
			ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div>
	  </div>
	  <div class="accordian-list desktop-only">
		<h3 class="accordion sub-heading">Reviews
		</h3>
		<div class="answer">
		  <p><span class="bullet"></span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
			ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div>
	  </div>
	  <div class="accordian-list desktop-only">
		<h3 class="accordion sub-heading">Q&A
		</h3>
		<div class="answer">
		  <p><span class="bullet"></span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
			ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div>
	  </div>
	</div>
  </div>


  
{% schema %}

{
	"name": "Product Accordion",
	"class": "be-product-accordion",    
	"tag": "section",
	"settings": []
}

{% endschema %}