{% comment %}theme-check-disable UndefinedObject{% endcomment %}


{% comment %} {{ 'section-footer.css' | asset_url | stylesheet_tag }} {% endcomment %}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>



<footer>
  <div class="footer-upper-section">
    <div class="company-logo">
      <img class="company-logo" src="{{ 'logo.png' | asset_url }}">
    </div>
    <div class="social-icons-holder">
      <ul class="social-icons">
        {% if settings.social_instagram_link != blank %}
            <li class="social-icon">
                <a href="{{ settings.social_instagram_link }}">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
        {% endif %}

        {% if settings.social_facebook_link != blank %}
            <li class="social-icon">
                <a href="{{ settings.social_facebook_link }}">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
        {% endif %}

        {% if settings.social_youtube_link != blank %}
            <li class="social-icon">
                <a href="{{ settings.social_youtube_link }}">
                    <i class="fab fa-youtube"></i>
                </a>
            </li>
        {% endif %}

        {% if settings.social_twitter_link != blank %}
            <li class="social-icon">
                <a href="{{ settings.social_twitter_link }}">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
        {% endif %}

        {% if settings.social_pinterest_link != blank %}
            <li class="social-icon">
                <a href="{{ settings.social_pinterest_link }}">
                    <i class="fab fa-pinterest"></i>
                </a>
            </li>
        {% endif %}
      </ul>
    </div>
    <ul class="faq-list-holder">
      <!-- <li class="faq-list">
         <div class="accordian-list">
          <button class="accordion">Online Presence
          </button>
          <div class="answer">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
              et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat.</p>
          </div>
        </div> 
        <div class="accordian-list">
          <button class="accordion">Information
          </button>
          <div class="answer">
            <p style="font-size: 18px;line-height: 1.8rem;">
              {%- for link in linklists.footer-menu-information.links -%}
              {% if link.levels == 0 %}
              <a href="{{ link.url }}" {% if link.active %}aria-current="page" {% endif %}>
					&#9632; {{ link.title }}
              </a><br/>
              {% endif %}
              {%- endfor -%}
            </p>
          </div>
        </div>
      </li> -->
      {%- for block in section.blocks -%}
      {%- assign item = block.settings -%}
      {% case block.type %}
        {% when 'accordion_menu' %}
        
        <li class="faq-list">
          <div class="accordian-list">
            <button class="accordion">{{ item.title }}
            </button>
            <div class="answer">
              <p style="font-size: 18px;line-height: 1.8rem;">
                {%- for link in linklists[item.menu].links -%}
                {% if link.levels == 0 %}
                <a href="{{ link.url }}" {% if link.active %}aria-current="page" {% endif %}>
            &#9632; {{ link.title }}
                </a><br/>
                {% endif %}
                {%- endfor -%}
              </p>
            </div>
          </div>
          </li>
        {% else %}
          
      {% endcase %}
      {% endfor %}
      <!-- <li class="faq-list">
        <div class="accordian-list">
          <button class="accordion">Support
          </button>
          <div class="answer">
            <p style="font-size: 18px;line-height: 1.8rem;">
              {%- for link in linklists.footer-menu-support.links -%}
              {% if link.levels == 0 %}
              <a href="{{ link.url }}" {% if link.active %}aria-current="page" {% endif %}>
					&#9632; {{ link.title }}
              </a><br/>
              {% endif %}
              {%- endfor -%}
            </p>
          </div>
        </div>
         <div class="accordian-list">
          <button class="accordion">Contact Us
          </button>
          <div class="answer">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
              et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat.</p>
          </div>
        </div> 
      </li> -->
    </ul>
  </div>
  <!-- footer upper section ends here -->
  <div class="footer-lower-section-holder">
    <div class="footer-lower-section">
      <div class="lower-footer-holder">
        <div class="footer-list">
          <img src="{{ 'animal-testing.png' | asset_url }}">
          <h6 class="service-heading">No Animal Testing</h6>
        </div>
        <div class="footer-list">
          <img class="delivery-image" src="{{ 'delivery.png' | asset_url }}">
          <h6 class="service-heading">Quick Delivery</h6>
        </div>
        <div class="footer-list">
          <img src="{{ 'paraban-free.png' | asset_url }}">
          <h6 class="service-heading">Paraben Free</h6>
        </div>
      </div>
    </div>
    <!-- footer lower section ends here -->
    <div class="payment-methods">
      <div class="payment-methods-holder">
        <div class="payment-method">
          <img src="{{ 'visa.png' | asset_url }}">
        </div>
        <div class="payment-method">
          <img class="master-card" src="{{ 'mastercard.png' | asset_url }}">
        </div>
        <div class="payment-method">
          <img src="{{ 'american-express.png' | asset_url }}">
        </div>
        <div class="payment-method">
          <img src="{{ 'paytm.png' | asset_url }}">
        </div>
        <div class="payment-method">
          <img src="{{ 'upi.png' | asset_url }}">
        </div>
        <div class="payment-method">
          <img src="{{ 'sezzle.png' | asset_url }}">
        </div>
      </div>
    </div>
    <!-- payment method section ends here -->
    <div class="copyright">
      <h6 class="copyright-text">
        <span class="text-holder terms-text"><span class="bullet"></span>{{ 'now' | date: "%Y" }}Copyright<span class="bullet"></span></span> <span class="text-holder"><a href="/pages/terms-conditions" target="_blank">Terms and Conditions</a><span class="bullet"></span></span>
      </h6>
    </div>
    <!-- minicart html -->
    <div class="cart-overlay"></div>
      <div class="mini-cart-holder">
        <div class="minicart-loader-bg">
          <div class="minicart-loader">
            <div></div><div></div><div></div>
          </div>
        </div>
        <div class="mini-cart">
          <div class="shopping-cart-holder">
            <a href="{{ routes.cart_url }}" class="heading">Shopping cart</a>            
            <div class="cross-icon"><i class="fas fa-times"></i></div>
          </div>
          <div id="mini-cart-empty"></div>
          <div id="mini-cart-products-holder" class="cart-products-holder">
          </div>
          <div class="total-cost">
            <div class="total-heading">
              Total
            </div>
            <div id="mini-cart-total" class="price">              
            </div>
          </div>
          <div class="checkout-btn">
            <a href="/checkout/">Checkout</a>     
          </div>
        </div>
    </div>
    <!-- mincart html ends here -->
  </div> 
</footer>

{% render 'be-sidebar-menu-mobile' %}

<style>
  #mini-cart-empty .heading {
    font-family: Agency FB;
    font-weight: 400;
    letter-spacing: 2px;
    color: #4a3a2a;
    text-align: center;
    font-size: 24px;
  }
</style>
<script>

  var cart = document.getElementById('cart');

  cart.addEventListener('click', function (e) {
    populateMiniCart();
    e.stopPropagation();
  });
  
  // delete item from mini cart
  $(document).on("click", "#mini-cart-products-holder .delete-btn" ,function () {
	const id = parseInt($(this).closest(".products-list").data("id"));
    const quantity = 0;
    jQuery.post('/cart/change.js', { id: id, quantity: quantity });
    setTimeout(function() {populateMiniCart(); cart_count();}, 400);
  });
  
  // reduce 1 quantity of item to mini cart
  $(document).on("click", "#mini-cart-products-holder .product-quantity-holder .minus" ,function () {
	const id = parseInt($(this).closest(".products-list").data("id"));
    const quantity = parseInt($(this).closest(".products-list").find('.quantity').text()) - 1;
    if (quantity >= 1) {
      $(this).closest(".products-list").find('.quantity').text(quantity);
      jQuery.post('/cart/change.js', { id: id, quantity: quantity });
      setTimeout(function() {populateMiniCart()}, 400);
    }
  });
  
  // add 1 quantity of item to mini cart
  $(document).on("click", "#mini-cart-products-holder .product-quantity-holder .plus" ,function () {
	const id = parseInt($(this).closest(".products-list").data("id"));
    const quantity = parseInt($(this).closest(".products-list").find('.quantity').text()) + 1;
    $(this).closest(".products-list").find('.quantity').text(quantity);
    jQuery.post('/cart/change.js', { id: id, quantity: quantity });
    setTimeout(function() {populateMiniCart()}, 400);
  });

  function populateMiniCart() {
//     $(".mini-cart-holder .minicart-loader-bg").show();
    fetch('/cart.js')
      .then((resp) => resp.json())
      .then(function (data) {
        console.log(data);
        document.getElementById('mini-cart-products-holder').innerHTML = '';
        document.getElementById('mini-cart-total').innerHTML = '';
        if (data.items.length > 0) {
          $(".mini-cart .total-cost").show();
          $(".mini-cart .checkout-btn").show();
          $("#mini-cart-empty").hide();
          document.getElementById('mini-cart-total').innerHTML += `${data.currency} ${data.total_price/100}`;
          data.items.forEach(function (product, index) {
            document.getElementById('mini-cart-products-holder').innerHTML +=
              `<div class="products-list" data-id="${product.id }">
                <div class="products-image">
                  <a href="${product.url}"><img width="200" src="${product.image}&width=200"></a>
                </div>
                <div class="product-details">
                  <div class="products-header"><a href="${product.url}">${product.title}</a></div>
                  <div class="products-details">${product.vendor}</div>
                  <div class="products-price">${data.currency} ${product.price/100}</div>	
                  <div class="holder">
                    <div class="product-quantity-holder">
                      <div class="product-quantity">
                        <span class="minus"><a>-</a></span>
                        <span class="quantity">${product.quantity}</span>
                        <span class="plus"><a>+</a></span>
                      </div>
                    </div>
                    <div class="delete-btn">
                      <a href="#"><img src="{{ 'delete.png' | asset_url }}"></a>
                    </div>
                  </div>					
                </div>
              </div>`;
          });
//           $(".mini-cart-holder .minicart-loader-bg").hide();
        } else {
          $(".mini-cart .total-cost").hide();
          $(".mini-cart .checkout-btn").hide();
          $("#mini-cart-empty").show();
          document.getElementById('mini-cart-empty').innerHTML = '<div class="heading">The Cart Is Empty<br/></div>';
        }
      })
      .catch((err) => console.log(err));
  }

function cart_count() {
	fetch('/cart.js')
		.then((resp) => resp.json())
		.then(
			(data) =>
				(document.getElementById('cart-count').innerHTML = data.items.length)
		)
		.catch((err) => console.log);
}

document.addEventListener('DOMContentLoaded', function () {
	cart_count();
});

$(document).on("click", "#cart-del-btn" ,function () { 
  console.log("delete click");
  setTimeout(function() {cart_count()}, 400);  
});

</script>

{% javascript %}
  class LocalizationForm extends HTMLElement {
    constructor() {
      super();
      this.elements = {
        input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
        button: this.querySelector('button'),
        panel: this.querySelector('ul'),
      };
      this.elements.button.addEventListener('click', this.openSelector.bind(this));
      this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
      this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

      this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
    }

    hidePanel() {
      this.elements.button.setAttribute('aria-expanded', 'false');
      this.elements.panel.setAttribute('hidden', true);
    }

    onContainerKeyUp(event) {
      if (event.code.toUpperCase() !== 'ESCAPE') return;

      this.hidePanel();
      this.elements.button.focus();
    }

    onItemClick(event) {
      event.preventDefault();
      const form = this.querySelector('form');
      this.elements.input.value = event.currentTarget.dataset.value;
      if (form) form.submit();
    }

    openSelector() {
      this.elements.button.focus();
      this.elements.panel.toggleAttribute('hidden');
      this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());
    }

    closeSelector(event) {
      const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
      if (event.relatedTarget === null || shouldClose) {
        this.hidePanel();
      }
    }
  }

  customElements.define('localization-form', LocalizationForm);
{% endjavascript %}

{% schema %}

{
    "name": "t:sections.footer.name",
    "tag": "div",
    "settings": [],
    "blocks": [
        {
            "name": "Accordion Menu",
            "type": "accordion_menu",
            "settings": [
                {
                    "type": "link_list",
                    "label": "Choose Accordion Menu",
                    "id": "menu"
                },
                {
                  "type": "text",
                  "label": "Enter Name",
                  "id": "title"
              }
            ]
        }
    ]
}

{% endschema %}